html {
  background: url(2.jpg) no-repeat center fixed;
  background-size: cover;
}
}
.navbar {
  overflow: visible;
  background-color: coral;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  color: coral;
  text-align: center;
  padding: 14px 16px;

}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: visible;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: aquamarine;
  padding: 25px 35px;
  text-decoration: none;
  display: list-item;
  text-align: left;
  border-style: double;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}